.App {
  text-align: center;
  padding: 2rem;
  font-family: sans-serif;
}

.App-header {
  background-color: #003366;
  color: white;
  padding: 3rem 1rem;
  border-radius: 12px;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

.App-about,
.App-contact {
  margin-top: 2rem;
  padding: 1rem;
  background: #f4f4f4;
  border-radius: 8px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #333;
}
